.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
*{
  margin: 0;
  padding: 0;
  color: wheat;
  font-family: 'Courier New', Courier, monospace;
}

.cards{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.card{
  height: 300px;
  width: 200px;
  border: 2px solid;
  border-radius: 5px;
}

.card h1{
  color: wheat;
}