
 .step4 {
        height: 200px;
        width: 100%;
        /* border: 1px solid; */
    }

    .step5 {
        height: 350px;
        width: 500px;
        border: 1px solid;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    @media(max-width:520px) {
        .step5 {
            height: 350px;
            width: 450px;
            border: 1px solid;
            border-radius: 10px;
            position: absolute;
            background-color: white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }

    @media(max-width:470px) {
        .step5 {
            height: 350px;
            width: 350px;
            border: 1px solid;
            border-radius: 10px;
            position: absolute;
            background-color: white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
     @media(max-width:370px) {
        .step5 {
            height: 350px;
            width: 320px;
            border: 1px solid;
            border-radius: 10px;
            position: absolute;
            background-color: white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
        }
    }


 
    .step5 .date {
        height: 30px;
        width: 200px;
        border: 1px solid;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 30px;
    }

    @media(max-width:520px) {
        .step5 .date {
            height: 30px;
            width: 150px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 60px;
        }
    }

    @media(max-width:470px) {
        .step5 .date {
            height: 30px;
            width: 150px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 20px;
        }
    }
     @media(max-width:370px) {
        .step5 .date {
            height: 30px;
            width: 130px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 20px;
        }
    }
 
    .step5 .time {
        height: 30px;
        width: 200px;
        border: 1px solid;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 30px;
    }

    @media(max-width:520px) {
        .step5 .time {
            height: 30px;
            width: 150px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 0px;
        }
    }

    @media(max-width:470px) {
        .step5 .time {
            height: 30px;
            width: 150px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 0px;
        }
    }

     @media(max-width:370px) {
        .step5 .time {
            height: 30px;
            width: 130px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 0px;
        }
    }
    .step5 .name {
        height: 30px;
        width: 430px;
        border: 1px solid;
        border-radius: 30px;
        margin-top:60px;
        margin-left: 30px;
    }

    @media(max-width:520px) {
        .step5 .name {
            height: 30px;
            width: 300px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 70px;
        }
    }

    @media(max-width:470px) {
        .step5 .name {
            height: 30px;
            width: 150px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 20px;
        }
    }
 @media(max-width:370px) {
        .step5 .name {
            height: 30px;
            width:  250px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 20px;
        }
    }

 .step5 .text{
    height: 80px;
    width: 450px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
 }
 @media(max-width:520px){
     .step5 .text{
    height: 80px;
    width: 350px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
 }
 }
  @media(max-width:470px){
     .step5 .text{
    height: 80px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
 }
 }
   @media(max-width:370px){
     .step5 .text{
    height: 80px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
 }
 }
    .step5 button {
        height: 40px;
        width: 420px;
        border: 1px solid;
        background-color: rgb(193, 39, 39);
        color: white;
        border-radius: 30px;
        margin-top:20px;
        margin-left: 40px;
    }

    @media(max-width:520px) {
        .step5 button {
            height: 30px;
            width: 300px;
            border: 1px solid;
            background-color: rgb(193, 39, 39);
            color: white;
            border-radius: 30px;
            margin-top: 40px;
            margin-left: 75px;
        }
    }

    @media(max-width:470px) {
        .step5 button {
            height: 30px;
            width: 300px;
            border: 1px solid;
            background-color: rgb(193, 39, 39);
            color: white;
            border-radius: 30px;
            margin-top: 40px;
            margin-left:35px;
        }
    }
     @media(max-width:470px) {
        .step5 button {
            height: 30px;
            width: 250px;
            border: 1px solid;
            background-color: rgb(193, 39, 39);
            color: white;
            border-radius: 30px;
            margin-top: 40px;
            margin-left:30px;
        }
    }
    .step6{
          height: 300px;
          width: 100%;
          /* border: 1px solid; */
          margin-top: 350px;
          display: grid;
          grid-template-columns: 360px 360px 360px ;
          grid-template-rows: 260px ;
          justify-content: center;
    }
      @media(max-width:1090px){
        .step6{
          height: 600px;
          width: 100%;
          /* border: 1px solid; */
          margin-top: 350px;
          display: grid;
          grid-template-columns:  260px 360px ;
          grid-template-rows:  200px 260px ;
          justify-content: center;
    }
      }
       @media(max-width:535px){
        .step6{
          height: 600px;
          width: 100%;
          /* border: 1px solid; */
          margin-top: 350px;
          display: grid;
          grid-template-columns:  210px 360px ;
          grid-template-rows:  180px 260px ;
          justify-content: center;
    }
      }
        @media(max-width:435px){
        .step6{
          height: 600px;
          width: 100%;
          /* border: 1px solid; */
          margin-top: 350px;
          display: grid;
          grid-template-columns:  160px 360px ;
          grid-template-rows:  180px 260px ;
          justify-content: center;
    }
      }
.card{
    height: 230px;
    width: 350px;
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 4px;
}
  @media(max-width:1090px){
    .card{
    height: 170px;
    width: 250px;
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 54px;
}
  }
    @media(max-width:535px){
    .card{
    height: 170px;
    width: 200px;
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 80px;
}
  }
    @media(max-width:435px){
    .card{
    height: 170px;
    width: 150px;
    /* border: 1px solid; */
    margin-top: 100px;
    margin-left: 100px;
}
  }
.card h5{
      margin-left:50px;
      margin-top: 50px;
}
@media(max-width:535px){
     .card h5{
      margin-left:30px;
      margin-top: 50px;
}
}
.card p{
    margin-left: 50px;
    font-weight: bold;
}
@media(max-width:535px){
    .card p{
    margin-left: 30px;
    font-weight: bold; 
}
}
   .step10 {
        height: 800px;
        width: 100%;
        border: 1px solid;
        background-color: rgb(44, 41, 41);
        margin-top: 80px;
    }

    @media(max-width:1470px) {
        .step10 {
            height: 1450px;
            width: 100%;
            border: 1px solid;
            background-color: rgb(44, 41, 41);
            margin-top: 80px;
        }
    }

    .card8 {
        height: 250px;
        width: 400px;
        /* border: 1px solid white; */
        margin-left: 100px;
        margin-top: 50px;
    }

    @media(max-width:1570px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 30px;
            margin-top: 50px;
        }
    }

    @media(max-width:1470px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 500px;
            margin-top: 50px;
        }
    }

    @media(max-width:1070px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 400px;
            margin-top: 50px;
        }
    }

    @media(max-width:870px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 300px;
            margin-top: 50px;
        }
    }

    @media(max-width:770px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 200px;
            margin-top: 50px;
        }
    }
    @media(max-width:670px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 150px;
            margin-top: 50px;
        }
    }
    @media(max-width:570px) {
        .card8 {
            height: 250px;
            width: 400px;
            /* border: 1px solid white; */
            margin-left: 50px;
            margin-top: 50px;
        }
    }
        @media(max-width:470px) {
        .card8 {
            height: 300px;
            width: 300px;
            /* border: 1px solid white; */
            margin-left: 50px;
            margin-top: 50px;
        }
    }
        @media(max-width:370px) {
        .card8 {
            height: 300px;
            width: 330px;
            /* border: 1px solid white; */
            margin-left: 1px;
            margin-top: 50px;
        }
    }
    .card8 h2 {
        color: white;
        margin-left: 80px;
        margin-top: -45px;
        font-size: 30px;
    }

    .card8 p {
        color: white;
        margin-left: 30px;
    }

    .card8 img {
        height: 60px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .card9 img {
        background-color: brown;
        height: 40px;
        border-radius: 30px;
    }

    .card10 {
        height: 500px;
        width: 350px;
        /* border: 1px solid white; */
        margin-left: 600px;
        margin-top: -250px;
        display: grid;
        grid-template-columns: 175px 160px;
        grid-template-rows: 500px;
        justify-content: center;
    }

    @media(max-width:1570px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 500px;
            margin-top: -250px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

    @media(max-width:1470px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 500px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

    @media(max-width:1070px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 400px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

    @media(max-width:870px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 300px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

    @media(max-width:770px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 200px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }
      @media(max-width:570px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 100px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

 @media(max-width:470px) {
        .card10 {
            height: 500px;
            width: 350px;
            /* border: 1px solid white; */
            margin-left: 50px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 175px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }
 @media(max-width:430px) {
        .card10 {
            height: 500px;
            width: 300px;
            /* border: 1px solid white; */
            margin-left:50px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 150px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }
 @media(max-width:370px) {
        .card10 {
            height: 500px;
            width: 330px;
            /* border: 1px solid white; */
            margin-left:1px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 150px 160px;
            grid-template-rows: 500px;
            justify-content: center;
        }
    }

    .set {
        height: 495px;
        width: 170px;
        /* border: 1px solid white; */
        margin-left: -5.5px;
    }
 @media(max-width:430px){
      .set {
        height: 495px;
        width: 140px;
        /* border: 1px solid white; */
        margin-left: 10px;
    }
 }
    .set li {
        list-style-type: none;
        color: white;
        margin-top: 40px;
        margin-left: -20px;

    }

    .set h3 {
        color: white;
        margin-left: 20px;
    }

    .card11 {
        height: 550px;
        width: 550px;
        /* border: 1px solid white; */
        margin-left: 1000px;
        margin-top: -430px;
        display: grid;
        grid-template-columns: 270px 270px;
        grid-template-rows: 270px 270px;
        justify-content: center;
    }

    @media(max-width:1570px) {
        .card11 {
            height: 550px;
            width: 550px;
            /* border: 1px solid white; */
            margin-left: 900px;
            margin-top: -430px;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 270px 270px;
            justify-content: center;
        }
    }

    @media(max-width:1470px) {
        .card11 {
            height: 550px;
            width: 550px;
            /* border: 1px solid white; */
            margin-left: 500px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 270px 270px;
            justify-content: center;
        }
    }

    @media(max-width:1070px) {
        .card11 {
            height: 550px;
            width: 550px;
            /* border: 1px solid white; */
            margin-left: 300px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 270px 270px;
            justify-content: center;
        }
    }

    @media(max-width:870px) {
        .card11 {
            height: 550px;
            width: 550px;
            /* border: 1px solid white; */
            margin-left: 200px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 270px 270px;
            justify-content: center;
        }
    }

    @media(max-width:770px) {
        .card11 {
            height: 550px;
            width: 550px;
            /* border: 1px solid white; */
            margin-left: 100px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 270px 270px;
            justify-content: center;
        }
    }
 @media(max-width:670px) {
        .card11 {
            height: 450px;
            width: 450px;
            /* border: 1px solid white; */
            margin-left: 100px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 220px 220px;
            grid-template-rows: 220px 220px;
            justify-content: center;
        }
    }
     @media(max-width:570px) {
        .card11 {
            height: 400px;
            width: 370px;
            /* border: 1px solid white; */
            margin-left: 80px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 180px 180px;
            grid-template-rows:180px 180px;
            justify-content: center;
        }
    }
     @media(max-width:470px) {
        .card11 {
            height: 400px;
            width: 370px;
            /* border: 1px solid white; */
            margin-left: 40px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 180px 180px;
            grid-template-rows:180px 180px;
            justify-content: center;
        }
    }
     @media(max-width:430px) {
        .card11 {
            height: 310px;
            width: 300px;
            /* border: 1px solid white; */
            margin-left: 50px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 150px 150px;
            grid-template-rows:150px 150px;
            justify-content: center;
        }
    }
        @media(max-width:370px) {
        .card11 {
            height: 310px;
            width: 330px;
            /* border: 1px solid white; */
            margin-left: 1px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 155px 155px;
            grid-template-rows:155px 155px;
            justify-content: center;
        }
    }
    .set1 {
        height: 250px;
        width: 250px;
        /* border: 1px solid white; */
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    @media(max-width:670px) {
        .set1 {
            height: 200px;
            width: 200px;
            /* border: 1px solid white; */
            margin-left: 10px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
    @media(max-width:570px) {
        .set1 {
            height: 170px;
            width: 170px;
            /* border: 1px solid white; */
            margin-left: 10px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
  @media(max-width:430px) {
        .set1 {
            height: 140px;
            width: 140px;
            /* border: 1px solid white; */
            margin-left: 5px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
      @media(max-width:370px) {
        .set1 {
            height: 145px;
            width: 145px;
            /* border: 1px solid white; */
            margin-left: 5px;
            margin-top: 5px;
            border-radius: 10px;
        }
    }
    .set1 img {
        height: 250px;
        width: 250px;
        border-radius: 10px;
    }

    @media(max-width:670px) {
        .set1 img {
            height: 200px;
            width: 200px;
            border-radius: 10px;
        }
    }
     @media(max-width:570px) {
        .set1 img {
            height: 170px;
            width: 170px;
            border-radius: 10px;
        }
    }
      @media(max-width:430px) {
        .set1 img {
            height: 140px;
            width: 140px;
            border-radius: 10px;
        }
    }
    @media(max-width:370px) {
        .set1 img {
            height: 145px;
            width: 145px;
            border-radius: 10px;
        }
    }